.container {
	padding: 0 3rem;
	text-align: center;
	line-height: 1.4;
}

.header {
	display: flex;
	font-size: 3rem;
	margin: 100px 0 20px;
	color: navy;
	line-height: 1;
	justify-content: center;
	align-items: center;

	img {
		max-width: 50%;
		max-height: 280px;
		align-self: flex-start;
		height: 100px;
	}

	div {
		padding-left: 30px;

		h1 {
			font-size: 36px;
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: rgba(69, 69, 149, 0.486);
			margin-bottom: 30px;

			span:nth-child(1) {
				margin-bottom: 5px;
				font-size: 56px;
				color: navy;
			}
		}

		p {
			color: rgba(69, 69, 149, 0.486);
			font-size: 26px;
			text-align: left;

			a {
				color: navy;
				text-underline-offset: 5px;

				&:visited {
					color: navy;
				}
			}
		}
	}
}

.paragraph_important {
	padding: 1rem 0;
	margin: 1rem 0;
	font-size: 2.2rem;
}

.paragraph_last {
	font-size: 1.6rem;
}

.separator {
	width: 70%;
	margin: 2rem auto;
	height: 0.4rem;
	background: linear-gradient(
		to right,
		transparent,
		lavenderblush 10% 90%,
		transparent
	);
}

@media all and (max-width: 480px) {
	.container {
		padding: 1rem;
	}

	.header {
		font-size: 3rem;
		margin: 0 0 1rem !important;
		flex-direction: column;
		align-items: center;
	}

	.title {
		display: block;
		font-size: 2.4rem;
		margin-top: 1rem;
	}

	.paragraph {
		padding: 0 1rem !important;
	}

	.separator {
		margin: 1rem auto;
	}
}
