body {
	font-family: 'Dubai light', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#App {
	margin: 0 20px;
}

/* ======== NAVBAR ========= */

#Navbar {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid lightgray;
}

#Navbar a {
	padding: 0.8rem 3rem;
	text-decoration: none;
	color: black;
	font-size: 1.4rem;
	transition: color 0.5s ease;
}

/* ======== BODY ========== */

#body {
	max-width: 1000px;
	margin: 0 auto;
}

/* ======== ABOUT ========= */

#About {
	padding: 0 3rem;
	text-align: center;
	line-height: 1.4;
}

#About h1 {
	font-family: dubai;
	font-size: 3rem;
	margin: 3rem 0;
	color: navy;
	line-height: 1.2;
}

#About p {
	font-size: 2rem;
	color: slategray;
	margin-bottom: 1.4rem;
	font-family: 'bell mt';
}

#About p:nth-child(3) {
	padding: 3rem 0;
	margin: 3rem 0;
	border-top: 2px solid lightblue;
	border-bottom: 2px solid lightblue;
	color: black;
	font-size: 2.2rem;
}

#About a {
	color: navy;
}

/* ======== PROJECTS ======== */

#Projects {
	margin: 0 auto;
}

#Projects li {
	text-align: center;
	margin: 2rem 0 4rem;
}

/* PROJECT CARD */

#ProjectCard .img-container {
	height: 420px;
	width: 600px;
	border: 2px solid lightgray;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#ProjectCard .img-container img {
	max-height: 100%;
	max-width: 100%;
}

#ProjectCard h1 {
	margin: 1rem 0;
	font-family: dubai;
}

#ProjectCard a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: navy;
	border-bottom: 1px solid navy;
	border-top: 1px solid navy;
	text-decoration: none;
	padding: 0 1rem;
	margin: 0 2rem;
	font-size: 1.6rem;
}

#ProjectCard span {
	margin: 0 1rem;
}

#ProjectCard a:visited {
	color: navy;
	padding: 0 1rem;
	font-size: 1.6rem;
}

#ProjectCard svg {
	height: 1.4rem;
}

/* ======== STACK ======== */

#Stack {
	padding: 0 3rem;
	text-align: center;
	line-height: 1.4;
}

#Stack h1 {
	font-family: dubai;
	font-size: 3rem;
	margin: 3rem 0;
	color: navy;
	line-height: 1.2;
}

#Stack h1 span {
	color: orchid;
}

#Stack img {
	height: 4rem;
	margin: 0 0.8rem;
}

.decorator {
	width: 70%;
	margin: 2rem auto;
	height: 0.2rem;
	background: lavenderblush;
}
/* ======== FADE EFFECTS ============ */

.fadeIn {
	animation: 0.25s fadeIn forwards;
}

.fadeOut {
	animation: 0.25s fadeOut forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate(-20px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate(0px, 0px);
	}
	to {
		transform: translate(-20px, 0);
		opacity: 0;
	}
}
