body {
	font-family: 'Dubai light', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#App {
	margin: 0 20px;
}

/* ======== NAVBAR ========= */

#Navbar {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid lightgray;
}

#Navbar a {
	padding: 0.8rem 3rem;
	text-decoration: none;
	color: black;
	font-size: 1.4rem;
	transition: color 0.5s ease;
}

/* ======== BODY ========== */

#body {
	max-width: 1000px;
	margin: 0 auto;
}

/* ======== ABOUT ========= */

#About {
	padding: 0 3rem;
	text-align: center;
	line-height: 1.4;
}

#About h1 {
	font-family: dubai;
	font-size: 3rem;
	margin: 3rem 0;
	color: navy;
	line-height: 1.2;
}

#About p {
	font-size: 2rem;
	margin-bottom: 1.4rem;
	font-family: 'bell mt';
}

#About a {
	color: navy;
}

#separator {
	margin: 3rem 0;
	height: 6px;
	background: linear-gradient(to right, white, lavenderblush 14% 86%, white);
}
/* ======== STACK ======== */

#Stack {
	padding: 0 3rem;
	text-align: center;
	line-height: 1.4;
}

#Stack h1 {
	font-family: dubai;
	font-size: 3rem;
	margin: 3rem 0;
	color: navy;
	line-height: 1.2;
}

#Stack h1 span {
	color: orchid;
}

#Stack img {
	height: 4rem;
}

/* ======== FADE EFFECTS ============ */

.fadeIn {
	animation: 0.25s fadeIn forwards;
}

.fadeOut {
	animation: 0.25s fadeOut forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate(-20px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate(0px, 0px);
	}
	to {
		transform: translate(-20px, 0);
		opacity: 0;
	}
}
